<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create myUser</title>
</head>
<body>
<form action="#" th:action="@{/admin/admin-create}" th:object="${new_user}" method="post">
    <label for="username">username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="email">First name</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">



    <input type="submit" value="Create Admin">
</form>

<form action="/logout" method="POST">
    <button>logout</button>
</form>
</body>
</html>