<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org
http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2> ADMIN <span th:text="${username}"></span></h2>

<div th:switch="${users}">
    <h2 th:case="null">No myUsers found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="myUser : ${users}">
                <td th:text="${myUser.id}"></td>
                <td th:text="${myUser.username}"></td>
                <td th:text="${myUser.password}"></td>
                <td th:text="${myUser.email}"></td>

                <td th:text="${myUser.getRoleSetString()}"></td>


                <td><a th:href="@{/admin/user-update/{id}(id=${myUser.id})}">Edit</a></td>
                <td><a th:href="@{/admin/user-delete/{id}(id=${myUser.id})}">Delete</a></td>
            </tr>


            </tbody>
        </table>
    </div>
    <p><a href="/admin/user-create">Create User</a></p>

</div>

<form action="/logout" method="POST">
    <button>logout</button>
</form>

</body>
</html>